
body{
color: white;
margin: 0;
text-align:center;
background-image: url("https://unsplash.com/photos/9SyOKYrq-rE/download");
height: 400px;
background-size: cover;
font-family: 'Lato', sans-serif;
}

